<div class="container">
    <div class="row">
        <div class="col-9 mt-5">
<h3 class="mb-4">Student Form</h3>
            <form [formGroup]="studentForm" (ngSubmit)="onSubmit()">

                <!-- --name-- -->
                <div class="mb-3">
                    <div class="row">
                        <div class="col-3">
                            <label for="name" class="form-label">Name:</label>
                        </div>
                        <div class="col-8">
                            <input type="name" class="form-control" id="name" formControlName="name">
                            <span *ngIf="!studentForm.get('name').valid && studentForm.get('name').touched"
                                class="help-block text-danger">Enter valid Name.</span>
                        </div>
                    </div>
 <!-- --email-- -->

                </div>
                <div class="mb-3">
                    <div class="row">
                        <div class="col-3">
                            <label for="email" class="form-label">Email:</label>
                        </div>
                        <div class="col-8">
                            <input type="email" class="form-control" id="exampleInputEmail1" formControlName="email">
                            <span *ngIf="!studentForm.get('email').valid && studentForm.get('email').touched"
                                class="help-block text-danger">Enter valid Email.</span>
                        </div>
                    </div>
                </div>


 <!-- --phone number-- -->


                <div class="mb-3">
                    <div class="row">
                        <div class="col-3">
                            <label for="phno" class="form-label">Phone No.:</label>
                        </div>
                        <div class="col-8">

                            <select id="selectid" class="mb-3" #code (change)="onCode(code.value)">
                                <!-- <option [ngValue]="null">Country </option> -->
                                <option *ngFor="let code of countryCodeArr" [value]="code.country">
                                    {{code.country}}
                                    ({{code.code}})
                                </option>
                            </select>
                            <input type="number" class="" id="phno" formControlName="phNo">
                            <span *ngIf="!studentForm.get('phNo')?.valid && studentForm.get('phNo')?.touched"
                                class="help-block text-danger">Enter valid Phone No.</span>

                        </div>
                    </div>
                </div>

                 <!-- --DOB-- -->
                <div class="mb-3">
                    <div class="row">
                        <div class="col-3">
                            <label for="dob" class="form-label">DOB:</label>
                        </div>
                        <div class="col-8">
                            <input type="date" class="form-control" id="dob"  formControlName="dob">
                            <span *ngIf="!studentForm.get('dob').valid && studentForm.get('dob').touched"
                                class="help-block text-danger">Enter valid Date of Birth.</span>
                        </div>
                    </div>
                </div>


 <!-- --subject-- -->
                <div class="mb-3">
                    <div class="row">
                        <div class="col-3">
                            <label for="subject" class="form-label">No. of Subject:</label>
                        </div>
                        <div class="col-8">
                            <select class="mb-3 custom-select dropdownSelector" formControlName="subNo" #no (change)="onSubject(no.value)">
                            
                                <option  *ngFor="let sub of [1,2,3]" value={{sub}}>
                                  
                                    {{sub}}
                                </option>
                            </select>

                        </div>
                    </div>
                </div>

 <!-- --input for subjects & marks-- -->
                <div class="mb-3">
                    <div class="row">
                        <div class="col-3">
                        </div>
                        <div class="col-9">
                            <div class="col-12" formArrayName="subject">
                                <div class="form-group">
                                    <div class="row" *ngFor="let subControl of getControls(); let i = index"
                                        [formGroupName]="i">
                                        <div class="col-4">
                                            <input type="text" class="mb-1" placeholder="Enter Subject"
                                                formControlName="subjectName">
                                                <span class="mb-1" *ngIf="!subControl.get('subjectName').valid && subControl.get('subjectName').touched"
                                                class="help-block text-danger">Enter valid Subject Name</span>
                                        </div>
                                        <div class="col-4">
                                            <input type="number" class="mb-1" #marks placeholder="Enter Marks"
                                                formControlName="marks">
                                                <span class="mb-1"  *ngIf="!subControl.get('marks').valid && subControl.get('marks').touched"
                                                class="help-block text-danger">Enter valid Marks.</span>
                                        </div>
                                        <div class="col-2">
                                            <!-- <button>Add</button> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



 <!-- --Gender-- -->

                <div class="mb-3">
                    <div class="row">
                        <div class="col-3">
                            <label for="dob" class="form-label">Gender:</label>
                        </div>
                        <div class="col-8">
                           
                            <input type="radio" formControlName="gender" value="male"> Male
                            <input type="radio" formControlName="gender" value="female"> Female
                        </div>
                    </div>
                </div>



 <!-- --semester-- -->

                <div class="mb-3">
                    <div class="row">
                        <div class="col-3">
                            <label for="semester" class="form-label">Semester:</label>
                        </div>
                        <div class="col-8">

                            <select id="selectid" class="mb-3" formControlName="semester">
                               
                                <option *ngFor="let sem of [1,2,3,4,5,6,7,8]" [value]="sem">
                                    {{sem}}
                                </option>
                            </select>

                        </div>
                    </div>
                </div>



 <!-- --terms & conditions-- -->

                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1" formControlName="condition">
                    <label class="form-check-label" for="exampleCheck1">agree terms & conditions</label>
                </div>

                 <!-- --submit button-- -->
                <button type="submit" class="btn submit" [disabled]="!studentForm.valid" >{{editMode ? 'Update' :
                    'Add'}}</button>
            </form>
        </div>
    </div>
</div>